Produce/.vs/Produce/FileContentIndex/2ac349a8-5025-47db-9db2-93881cb01197.vsidx
Produce/.vs/Produce/FileContentIndex/864eac7f-6d53-4208-88a0-eae022aec7b4.vsidx
Produce/.vs/Produce/FileContentIndex/9a73122d-e7ab-4f40-8ca5-e4f3edc97358.vsidx
Produce/.vs/Produce/FileContentIndex/c05a79b5-04b6-4a5f-96a4-c710f571d26f.vsidx
Produce/.vs/Produce/FileContentIndex/read.lock
Produce/.vs/Produce/v17/.suo
Produce/Produce/bin/Debug/DevExpress.BonusSkins.v22.1.dll
Produce/Produce/bin/Debug/DevExpress.Data.Desktop.v22.1.dll
Produce/Produce/bin/Debug/DevExpress.Data.Desktop.v22.1.xml
Produce/Produce/bin/Debug/DevExpress.Data.v22.1.dll
Produce/Produce/bin/Debug/DevExpress.Data.v22.1.xml
Produce/Produce/bin/Debug/DevExpress.Drawing.v22.1.dll
Produce/Produce/bin/Debug/DevExpress.Office.v22.1.Core.dll
Produce/Produce/bin/Debug/DevExpress.Office.v22.1.Core.xml
Produce/Produce/bin/Debug/DevExpress.Pdf.v22.1.Core.dll
Produce/Produce/bin/Debug/DevExpress.Pdf.v22.1.Core.xml
Produce/Produce/bin/Debug/DevExpress.Pdf.v22.1.Drawing.dll
Produce/Produce/bin/Debug/DevExpress.Pdf.v22.1.Drawing.xml
Produce/Produce/bin/Debug/DevExpress.Printing.v22.1.Core.dll
Produce/Produce/bin/Debug/DevExpress.Printing.v22.1.Core.xml
Produce/Produce/bin/Debug/DevExpress.RichEdit.v22.1.Core.dll
Produce/Produce/bin/Debug/DevExpress.RichEdit.v22.1.Core.xml
Produce/Produce/bin/Debug/DevExpress.Sparkline.v22.1.Core.dll
Produce/Produce/bin/Debug/DevExpress.Sparkline.v22.1.Core.xml
Produce/Produce/bin/Debug/DevExpress.Utils.v22.1.dll
Produce/Produce/bin/Debug/DevExpress.Utils.v22.1.xml
Produce/Produce/bin/Debug/DevExpress.XtraBars.v22.1.dll
Produce/Produce/bin/Debug/DevExpress.XtraBars.v22.1.xml
Produce/Produce/bin/Debug/DevExpress.XtraEditors.v22.1.dll
Produce/Produce/bin/Debug/DevExpress.XtraEditors.v22.1.xml
Produce/Produce/bin/Debug/DevExpress.XtraGrid.v22.1.dll
Produce/Produce/bin/Debug/DevExpress.XtraGrid.v22.1.xml
Produce/Produce/bin/Debug/DevExpress.XtraLayout.v22.1.dll
Produce/Produce/bin/Debug/DevExpress.XtraLayout.v22.1.xml
Produce/Produce/bin/Debug/DevExpress.XtraPrinting.v22.1.dll
Produce/Produce/bin/Debug/DevExpress.XtraPrinting.v22.1.xml
Produce/Produce/bin/Debug/DevExpress.XtraTreeList.v22.1.dll
Produce/Produce/bin/Debug/DevExpress.XtraTreeList.v22.1.xml
Produce/Produce/bin/Debug/Produce.exe
Produce/Produce/bin/Debug/Produce.exe.config
Produce/Produce/bin/Debug/Produce.pdb
Produce/Produce/bin/Debug/zxing.dll
Produce/Produce/bin/Debug/zxing.presentation.dll
Produce/Produce/bin/Debug/zxing.presentation.xml
Produce/Produce/bin/Debug/zxing.xml
Produce/Produce/bin/Debug/de/DevExpress.Data.v22.1.resources.dll
Produce/Produce/bin/Debug/de/DevExpress.Office.v22.1.Core.resources.dll
Produce/Produce/bin/Debug/de/DevExpress.Pdf.v22.1.Core.resources.dll
Produce/Produce/bin/Debug/de/DevExpress.Printing.v22.1.Core.resources.dll
Produce/Produce/bin/Debug/de/DevExpress.RichEdit.v22.1.Core.resources.dll
Produce/Produce/bin/Debug/de/DevExpress.Sparkline.v22.1.Core.resources.dll
Produce/Produce/bin/Debug/de/DevExpress.Utils.v22.1.resources.dll
Produce/Produce/bin/Debug/de/DevExpress.XtraBars.v22.1.resources.dll
Produce/Produce/bin/Debug/de/DevExpress.XtraEditors.v22.1.resources.dll
Produce/Produce/bin/Debug/de/DevExpress.XtraGrid.v22.1.resources.dll
Produce/Produce/bin/Debug/de/DevExpress.XtraLayout.v22.1.resources.dll
Produce/Produce/bin/Debug/de/DevExpress.XtraPrinting.v22.1.resources.dll
Produce/Produce/bin/Debug/de/DevExpress.XtraTreeList.v22.1.resources.dll
Produce/Produce/bin/Debug/es/DevExpress.Data.v22.1.resources.dll
Produce/Produce/bin/Debug/es/DevExpress.Office.v22.1.Core.resources.dll
Produce/Produce/bin/Debug/es/DevExpress.Pdf.v22.1.Core.resources.dll
Produce/Produce/bin/Debug/es/DevExpress.Printing.v22.1.Core.resources.dll
Produce/Produce/bin/Debug/es/DevExpress.RichEdit.v22.1.Core.resources.dll
Produce/Produce/bin/Debug/es/DevExpress.Sparkline.v22.1.Core.resources.dll
Produce/Produce/bin/Debug/es/DevExpress.Utils.v22.1.resources.dll
Produce/Produce/bin/Debug/es/DevExpress.XtraBars.v22.1.resources.dll
Produce/Produce/bin/Debug/es/DevExpress.XtraEditors.v22.1.resources.dll
Produce/Produce/bin/Debug/es/DevExpress.XtraGrid.v22.1.resources.dll
Produce/Produce/bin/Debug/es/DevExpress.XtraLayout.v22.1.resources.dll
Produce/Produce/bin/Debug/es/DevExpress.XtraPrinting.v22.1.resources.dll
Produce/Produce/bin/Debug/es/DevExpress.XtraTreeList.v22.1.resources.dll
Produce/Produce/bin/Debug/ja/DevExpress.Data.v22.1.resources.dll
Produce/Produce/bin/Debug/ja/DevExpress.Office.v22.1.Core.resources.dll
Produce/Produce/bin/Debug/ja/DevExpress.Pdf.v22.1.Core.resources.dll
Produce/Produce/bin/Debug/ja/DevExpress.Printing.v22.1.Core.resources.dll
Produce/Produce/bin/Debug/ja/DevExpress.RichEdit.v22.1.Core.resources.dll
Produce/Produce/bin/Debug/ja/DevExpress.Sparkline.v22.1.Core.resources.dll
Produce/Produce/bin/Debug/ja/DevExpress.Utils.v22.1.resources.dll
Produce/Produce/bin/Debug/ja/DevExpress.XtraBars.v22.1.resources.dll
Produce/Produce/bin/Debug/ja/DevExpress.XtraEditors.v22.1.resources.dll
Produce/Produce/bin/Debug/ja/DevExpress.XtraGrid.v22.1.resources.dll
Produce/Produce/bin/Debug/ja/DevExpress.XtraLayout.v22.1.resources.dll
Produce/Produce/bin/Debug/ja/DevExpress.XtraPrinting.v22.1.resources.dll
Produce/Produce/bin/Debug/ja/DevExpress.XtraTreeList.v22.1.resources.dll
Produce/Produce/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Produce/Produce/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Produce/Produce/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Produce/Produce/obj/Debug/Produce.csproj.AssemblyReference.cache
Produce/Produce/obj/Debug/Produce.csproj.CopyComplete
Produce/Produce/obj/Debug/Produce.csproj.CoreCompileInputs.cache
Produce/Produce/obj/Debug/Produce.csproj.FileListAbsolute.txt
Produce/Produce/obj/Debug/Produce.csproj.GenerateResource.cache
Produce/Produce/obj/Debug/Produce.csproj.SuggestedBindingRedirects.cache
Produce/Produce/obj/Debug/Produce.exe
Produce/Produce/obj/Debug/produce.exe.licenses
Produce/Produce/obj/Debug/Produce.Form1.resources
Produce/Produce/obj/Debug/Produce.Material.resources
Produce/Produce/obj/Debug/Produce.MaterialDate.resources
Produce/Produce/obj/Debug/Produce.pdb
Produce/Produce/obj/Debug/Produce.ProductAdd.resources
Produce/Produce/obj/Debug/Produce.ProductCorrection.resources
Produce/Produce/obj/Debug/Produce.Properties.Resources.resources
Produce/Produce/obj/Debug/Produce.WearingAdd.resources
